@keyframes slideRight {
  0% {
    transform: translateX(0rem);
  }
  25% {
    transform: translateX(20rem);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-20rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

/* ***************** T E A M S ****************** */

.team {
  margin-bottom: 10rem;
}

.team__heading {
  text-align: right;
  margin: 0 12rem 3rem 6rem;
}

.team__heading h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
}

.team__heading p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

.team__details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem;
  overflow: hidden;
  gap: 5rem;
}

.team__details * {
  /* animation: slideRight 20s linear infinite; */
}

.team__details img {
  width: 18.2rem;
}

.team__details p {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .team__details {
    gap: 2rem;
  }
  .team__details img {
    width: 10rem;
  }
  .team__details p {
    font-size: 1.4rem;
  }
}

.team__grid {
  margin: 3rem;
  display: grid;
  gap: 6rem;
  margin-bottom: 5rem;
}

.team__grid img {
  width: 100%;
}

.team__grid p {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .team__grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
  }
  .team__grid p {
    font-size: 1.4rem;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  transition: all .3s;
}

.pagination:hover {
  gap: 1.5rem;
}

.page {
  width: 1rem;
  border-radius: .5rem;
  height: 1rem;
  background: gray;
  transition: all 1s;
}

.pagination .active {
  width: 4rem;
}