
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './css/intro.css';
@import './css/about.css';
@import './css/faq.css';
@import './css/feature.css';
@import './css/footer.css';
@import './css/header.css';
@import './css/project.css';
@import './css/question.css';
@import './css/services.css';
@import './css/team.css';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

body{
  font-family: 'Euclid Circular A';
}

.day-theme {
  color: #ffffff;
  background: #0d0d0dee;
}

.dark-theme {
  color: #0C092A;
  background: #ffffff;
}

main {
  padding-top: 12.5rem;
}