
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  font-family: 'Euclid Circular A';
}

.day-theme {
  color: #ffffff;
  background: #0d0d0de5;
}

.dark-theme {
  color: #0C092A;
  background: #ffffff;
}

/* *************** H E A D E R ***************** */

main {
  padding-top: 10rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3rem;
  box-shadow: 0px 4px 8px 0px #00000017;
  margin-bottom: 4rem;
  position: fixed;
  z-index: 100;
}

.header-day {
  border-bottom: 1px solid #EBEFF6;
  background: #ffffff;
}

.header-night {
  border: none;
  background: #0D0D0D;
  color: #E7EBEF;
}

.header__primary  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 17rem;
}

.header__primary img {
  width: 6rem;
  margin-right: 1rem;
}

.header-day .header__primary span {
  color: #4144BD;
}

.header__primary span {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
}

.header__nav {
  margin: 0 auto;
}

.header__list {
  list-style: none;
  display: flex;
}

.header__list li {
  margin-right: 3rem;
}

.header__list li .active {
  color: #F7A400;
}

.header__list li a {
  text-decoration: none;
  color: inherit;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5
}

.header__box {
  display: flex;
  align-items: center;
}

.header__box img {
  width: 3.1rem;
  margin-right: 1.6rem;
}

.header__box a {
  width: 14rem;
  height: 4.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  border-radius: .7rem;
  background: #4144BD;
  color: #ffffff;
  text-decoration: none;
}


/* ************* I N T R O ************** */

.intro {
  margin-bottom: 7rem;
}

.intro__head {
  padding: 2rem 6rem 2rem 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__head--img-box {
  margin-right: 5rem;
  position: relative;
}

.bulb1 {
  width: 6rem;
  position: absolute;
  top: 6rem;
  right: 6rem;
  transform: rotate(30deg);
}

.intro__head--img-box .intro-img {
  width: 52.6rem;
}

.intro__head-content {
  position: relative;
}

.bulb2 {
  position: absolute;
  bottom: .25rem;
  right: 10rem;
  width: 9.8rem;
}

.intro__head-content p:first-child {
  font-size: 6.4rem;
  font-weight: 600;
  margin-bottom: 2.6rem;
}

.intro__head-content p:nth-of-type(2){
  font-family: 'Inter';
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 2.6rem;
}

.intro__head-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5355C4;
  width: 14.7rem;
  height: 4.6rem;
  border-radius: .7rem;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Inter';
  font-size: 2rem;
  font-weight: 500;
}

.intro__companies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.intro__companies img {
  margin-left: 6.4rem;
}

.intro__languages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
}

.intro__languages img {
  width: 8rem;
  margin-left: 7.9rem;
}

/* ***************** F E A T U R E S ****************** */

.features {
  margin: 7rem 3rem;
}

.features__head {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 3rem;
}

.features__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
  text-align: center;
  gap: 3.8rem;
  margin-bottom: 7rem;
}

.features__list li {
  width: 31.3rem;
  padding: 4rem 3.5rem;
  border-radius: 1.8rem;
  background: #F0F0F75C;
}

.list-night li {
  filter: invert(100%);
}

.list-night li *:not(:nth-child(2)) {
  filter: invert(100%);
}

.features__list li *:not(:last-child) {
  margin-bottom: 1.3rem;
}

.features__list li h4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

.features__list li img {
  display: inline-block;
  margin-top: 1.3rem;
  width: 8rem;
}

.trans {
  width: 6rem !important;
}

.features__list li p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 1.3rem;
}

.features__plan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.3rem;
}

.features__figure {

}

.features__figure h3 {
  font-family: 'Pacifico';
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.features__figure img {
  width: 64.4rem;
}

.features__details {
  background: #F9F9FC;
  padding: 7rem 6rem;
}

.features__details h4 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #FFB012;
  margin-bottom: 1.8rem;
}

.features__details ul {
  list-style: none;
  margin-bottom: 5rem;
}

.details-night, .details-night * {
  filter: invert(100%);
}

.features__details ul li {
  display: flex;
  align-items: center;
}
.features__details ul li:not(:last-child) {
  margin-bottom: 2.2rem;
}

.features__details ul li span:first-child {
  margin-right: 1.2rem;
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
  background: #0C092A;
  border-radius: 50%;
  color: #ffffff;
}

.details-night ul li span:first-child {
  color: #0C092A;
  background: #ffffff;
}

.features__details ul li span:last-child {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
}

.features__details p {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
}

/* ***************** T E A M S ****************** */

.team {
  margin-bottom: 10rem;
}

.team__heading {
  text-align: right;
  margin: 0 12rem 3rem 6rem;
}

.team__heading h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
}

.team__heading p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

.team__wrapper {
  display: grid;
  gap: 5rem;
}

.team__details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.team__details img {
  width: 18.2rem;
}

.team__details p {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

/* ***************** F A Q ****************** */

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  margin: 0 3rem;
}

.faq__box {
  flex: 0 0 55%;
}

.faq__box h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 7.5rem;
}

.faq__list {
  list-style: none;
}

.faq__box .faq__list-night, .faq__box .faq__list-night * {
  filter: invert(100%);
}

.faq__list li {
  background: #F9F9FC;
  padding: 1.5rem 4rem;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.faq__list li span {
  margin-right: auto;
  font-family: 'Inter';
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.faq__specialist {
  padding: 10rem 4.5rem 0 4.5rem;
  position: relative;
}

.faq__specialist *:not(:nth-child(2)) {
  position: absolute;
}

.one {
  top: 0;
  left: 0;
}

.two {
  margin-top: -7rem;
}

.three {
  bottom: 0rem;
  right: 0;
}

.four {
  left: 0;
  bottom: -4.5rem;
}

.five {
  right: 0;
  bottom: -9rem;
}

.faq__specialist div {
  padding: 1rem 2rem;
  width: 24rem;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.82px;
  letter-spacing: -0.03em;
  box-shadow: 0px 4px 4px 0px #00000033;
  text-align: right;
}

.faq .faq__specialist-night div  {
  filter: (invert(100%));
}

.faq__specialist div span:first-child {
  color: #F7A400;
  border: 1px solid #F7A400;
  border-radius: 50%;
  padding: .5rem;
  width: 3.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.faq__specialist div span:nth-child(2) {
  display: inline-block;
  left: 4rem;
  margin-left: 5rem;
}

.faq__specialist p {
  background: #F9F9FC;
  padding: 10rem 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: right;
}

.faq .faq__specialist-night p  {
  background: inherit;
}

/* ***************** Q U E S T I O N ****************** */

.question {
  text-align: center;
  margin: 4rem 0;
}

.question__one {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: .5rem;
}

.question__one span {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #F7A400;
}

.question__two {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question__two a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5355C4;
  width: 14.7rem;
  height: 4.6rem;
  border-radius: .7rem;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Inter';
  font-size: 2rem;
  font-weight: 500;
  margin: 0 1rem;
}

/* ***************** F O O T E R ****************** */

.footer {
  background: #0C092A;
  color: #E7EBEF;
  padding: 4rem 7rem;
}

.footer__main {
  display: flex;
  align-items: center;
  gap: 10rem;
  margin-bottom: 4rem;
}

.footer__media {
  flex: 0 0 40%;
}

.footer__primary {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 4.4rem;
}

.footer__primary img {
  width: 8rem;
  height: 8.2rem;
}

.footer__primary span {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}

.footer__socials img {
  width: 3rem;
  height: 3rem;
}

.footer__content h5 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.6rem;
}

.footer__content ul {
  list-style: none;
}

.footer__content ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__content ul li img {
  margin-left: -1rem;
}

.footer__content ul li span {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2;
}

.footer__foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10rem;
}

.footer__foot p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
}

/* ***************** A B O U T ****************** */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 3rem 8rem 3rem;
  gap: 6rem;
}

.about__left {
  flex: 0 0 45%;
  padding: 4rem;
}

.about__left h3 {
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #F7A400;
  margin-bottom: 2.2rem;
}

.about__left .head {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #14213D;
  margin-bottom: 2.5rem;
}

.about__left .body {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
}

.about__right img {
  display: inline-block;
  width: 58.5rem;
  height: 36.7rem;
  margin-bottom: 3rem;
}

.about__rating {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  padding: 0 3rem;
}

.about__rating p {
  flex: 0 0 50%;
}

.about__rating p span {
  display: block;
  line-height: 1.5;
  font-family: 'Inter';
  color: #000000;
}

.about__rating p span:first-child {
  font-size: 2.4rem;
  font-weight: 700; 
}

.about__rating p span:last-child {
  font-size: 1.6rem;
  font-weight: 500;
}

/* *****************  S E R V I C E S ****************** */

.service__request{
  margin: 4.5rem 6rem;
  display: flex;
  gap: 4.7rem;
}

.service__request .bolder {
  flex:  0 0 60%;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7.3rem;
}

.service__request p .bold {
  display: block;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 2.1rem;
}

.service__request .light {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.service__request button {
  padding: 1.5rem;
  border: none;
  border-radius: 1.5rem;
  background: #4144BD;

  font-family: "Inter";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3rem;
  text-align: center;
  color: #FAFAFA;
}

.cover-box {
  background-image: url("./img/Rectangle 4500.png");
  background-size: cover;
  height: 55rem;
  margin-bottom: 6rem;
}

.offer h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.offer h3 .text {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.64rem;
  margin-right: 1.5rem;

}

.offer h3 .arr {
  width: Fixed (30.72px)px;
  height: Fixed (30.72px)px;
  padding: .6rem 1rem;
  font-size: 1.6rem;
  font-weight: 900;
  border: 1.75px solid #F7A400;
  border-radius: 50%;
  color: #F7A400;
}

.offer__list {
  margin: 0 5rem 7.5rem 5rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}
.offer__list--item {
  background: #E3E3E3;
  padding: 4rem 8rem 2rem 4rem;
  border-radius: 3rem;
  color: #141438;
}

.offer__list--item .jobs {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.offer__list--item h4 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.offer__list--item .body {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 5rem;
}

.offer__list--item img {
  display: inline-block;
  width: 6.7rem;
  height: 5.8rem;
  border-radius: 1.1rem;
}

.service__recent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8rem;
  margin:  0 5rem;
}

.service__box h2 {
  display: flex;
  align-items: center;
  margin-bottom: 8rem;
}

.service__box h2 .text {
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 6.2rem;
  margin-right: 3rem;
}

.service__box h2 .arr {
  color: #433E3F;
  padding: 1.25rem;
  border: 2.18px solid #433E3F;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
}

.service__work {
  color: #1A1B4B;
  margin-bottom: 5rem;
}

.service__work h3 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.service__work img {
  width: 100%;
  height: 55remrem;
  border-radius: 3rem;
  margin-bottom: 2rem;
}

.service__work h5 {
  font-family: "Inter";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  margin-bottom: 2rem;
}

.service__work p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin-bottom: 2rem;
}

.service__work a {
  text-decoration: none;
  color: #F7A400;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.74rem;
}

.service {
  position: relative;
  margin-bottom: 15rem;
}

.service__subscribe {
  margin: 0 auto;
  padding: 4rem 10%;
  background: #F4C790;
  width: 50%;
  border-radius: 1rem;
  font-family: 'Source Sans Pro';
  box-shadow: 0px 4px 5px 0px #0000001A;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service__subscribe p {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 2rem;
}

.service__subscribe form {
  display: flex;
  align-items: center;
}

.service__subscribe input {
  width: 27.4rem;
  height: 4rem;
  border: none;
  border-radius: 1rem 0 0 1rem;
  padding-left: 1rem;
  border: 1px solid #A4A5DF;
}

.service__subscribe button {
  height: 4rem;
  font-size: 1.3rem;
  color: #ffffff;
  background: #A4A5DF;
  font-weight: 600;
  line-height: 2;
  text-align: center;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 2rem;
}

/* ***************** P R O J E C T S ****************** */

.projects .cover {
  background-image: linear-gradient(rgba(217, 217, 217, 0.4), rgba(217, 217, 217, 0.4)), 
  url("./img/Rectangle 4496.png");
  background-size: cover;
  height: 40rem;
  color: white;
  padding: 26rem 0 0 10rem;
  font-family: 'Inter';
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 6rem;
}

.projects__intro {
  margin: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-bottom: 8rem;
}

.projects__intro  {
  flex: 0 0 50%;
  height: 43.5rem;
  border-radius: 2rem;
}

.projects__intro--text {
  padding-right: 8rem;
}

.projects__intro--text h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 4rem;
  color: #F7A400;
}

.projects__intro--text p {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 6rem;
}

.projects__recent {
  padding: 0 5rem;
}

.projects__recent h2 {
  font-family: "Inter";
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.projects__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.projects__list--item {
  font-family: 'Roboto';
  border-radius: .8rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 16px 16px 4px #0000001F;

}

.projects__list--item a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.5;
  margin-bottom: 4rem;
}

.projects__list--item .content {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 4rem;
  margin-bottom: 4rem;
}


.projects__list--item .date {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.5;
}

.projects__list--item img {
  width: 29rem;
  height: 44rem;
  border-radius: 0px, 8px, 8px, 0px;
}